Repository Dwolla/http4s-consul-middleware: changes, and which Mergify rules are due for each by the changed paths.
All: Label consul-discoverable-smithy-spec PRs, Label core PRs, Label smithy4s PRs, Label smithy4s-tests PRs

Label consul-discoverable-smithy-spec PRs:
  label:
    add:
    - consul-discoverable-smithy-spec
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label smithy4s PRs:
  label:
    add:
    - smithy4s
    remove: []

Label smithy4s-tests PRs:
  label:
    add:
    - smithy4s-tests
    remove: []

suppress lint-infer-any/kind-polymorphic warnings on 2.13.17 and greater
  build.sbt
  project/SuppressKindPolymorphicInferAnyOn213.scala
  project/V.scala
Due: none

clean up examples using IO.local instead of IOLocal directly
  core/js/src/test/scala/com/dwolla/consul/examples/ConsulMiddlewareAppPlatform.scala
  core/js/src/test/scala/com/dwolla/consul/examples/ConsulServiceDiscoveryAlgAppPlatform.scala
  core/jvm/src/test/scala/com/dwolla/consul/examples/ConsulMiddlewareAppPlatform.scala
  core/jvm/src/test/scala/com/dwolla/consul/examples/ConsulServiceDiscoveryAlgAppPlatform.scala
  core/shared/src/test/scala/com/dwolla/consul/ConsulServiceDiscoveryAlgSpec.scala
  core/shared/src/test/scala/com/dwolla/consul/examples/LocalTracing.scala
Due: Label core PRs

add an additional wait factor of 1/16 of the requested wait time to account for Consul's behavior
  build.sbt
  core/shared/src/main/scala/com/dwolla/consul/ConsulServiceDiscoveryAlg.scala
  core/shared/src/test/scala/com/dwolla/consul/ConsulServiceDiscoveryAlgSpec.scala
Due: Label core PRs

use .Node.Address as a fallback if .Service.Address is empty or unavailable
  core/shared/src/main/scala/com/dwolla/consul/ConsulServiceDiscoveryAlg.scala
  core/shared/src/main/scala/com/dwolla/consul/ThirdPartyTypeCodecs.scala
  core/shared/src/test/scala/com/dwolla/consul/ConsulServiceDiscoveryAlgSpec.scala
Due: Label core PRs

add serviceName field to ConsulDiscoverable typeclass
  smithy4s-tests/src/test/scala-2/com/dwolla/consul/smithy4s/ConsulDiscoverableSpecPerScalaVersion.scala
  smithy4s-tests/src/test/scala-2/com/dwolla/consul/smithy4s/UriFromServiceSpec.scala
  smithy4s/src/main/scala-2/com/dwolla/consul/smithy4s/ConsulDiscoverablePlatform.scala
  smithy4s/src/main/scala-2/com/dwolla/consul/smithy4s/UriFromService.scala
  smithy4s/src/main/scala/com/dwolla/consul/smithy4s/ConsulDiscoverable.scala
Due: Label smithy4s PRs, Label smithy4s-tests PRs

address WaitPeriod exhaustivity, which was raising a compiler warning
  core/shared/src/main/scala/com/dwolla/consul/package.scala
  core/shared/src/test/scala/com/dwolla/consul/WaitPeriodSpec.scala
Due: Label core PRs

clean up unused import
  core/jvm/src/test/scala/com/dwolla/consul/examples/ConsulMiddlewareAppPlatform.scala
Due: Label core PRs

Switch from sbt-tpolecat to sbt-typelevel-settings
  build.sbt
  project/plugins.sbt
Due: none

Path conditions:
  Label consul-discoverable-smithy-spec PRs: any of: ^consul-discoverable-smithy-spec/
  Label core PRs: any of: ^core/
  Label smithy4s PRs: any of: ^smithy4s/
  Label smithy4s-tests PRs: any of: ^smithy4s-tests/
